@use '@carbon/colors';

.sidebar {
    max-width: 45%;
    height: 100%;
    border-right: 1px solid colors.$gray-40;
    background-color: white;
}

.sidebar--create-room__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid colors.$gray-40;
}

.create-room--body {
    max-width: 85%;
    padding-left: 0.5rem;
}

.create-room--form {
    margin-top: 0.5rem;
}

.user-search--profile {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    // background-color: colors.$gray-10;
    border-bottom: 1px solid colors.$gray-40;
}

.user-search--profile__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.sidebar--chat-room__button {
    width: 100%;
}
